<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection "ltr" }}"{{ with site.Params.gaId }} data-ga-id="{{ . }}"{{ end }}>
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}
  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "cookie-consent.html" . }}
  <div class="lightbox" id="lightbox" aria-hidden="true">
    <button class="lightbox-close" aria-label="Close">&times;</button>
    <img src="" alt="">
  </div>
  {{- range slice "js/main.js" "js/consent.js" "js/contact-form.js" }}
  {{- $js := resources.Get . | resources.Fingerprint "sha256" }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{- end }}
</body>
</html>
